apiVersion: v1
kind: Service
metadata:
  name: demo-flask-app
  namespace: demo-app
  labels:
    app: demo-flask-app
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 5000
    protocol: TCP
    name: http
  selector:
    app: demo-flask-app
